<div class="container container-bg">
    <div class="create-block">
        <form class="well login-form" action="/create" method="post" accept-charset="utf-8">
            <label class="title">Register Now </label>
            <input type="text"  placeholder="暱稱" maxlength="10"><br/>
            <input type="text"  placeholder="帳號" maxlength="10" name="login" ><br/>
            <input type="password"  placeholder="密碼" maxlength="10" name="password"><br/>
            <button id="login-btn" type="submit" class="btn btn-large btn-success">
                Register
            </button>
            <br/>
        </form>
    </div>
</div>