<div class="container container-bg">
  <div class="login-block">
    <form class="well login-form" action="/login" method="post" accept-charset="utf-8">
      <label class="form-title">OSSII 聊天室</label>
      <input type="text"  placeholder="Email" maxlength="50" name="email"><br/>
      <input type="password"  placeholder="密碼" maxlength="10" name="password"><br/>
      <button id="login-btn" type="submit" class="btn btn-large btn-primary">
        <i class="icon-lock icon-white"></i> Login
      </button><br/>
    </form>
    <a id="register-btn" href="create">Register</a>
  </div>
</div>
