
.create-block > a{
    color: #fff;
}

.create-block {
    margin:0 auto;
    max-width: 350px;
    text-align: center;
}

@media (max-width: 979px) {
    .create-block {
        margin-top:20px;
    }
}
