body {
    padding-top: 30px;
    padding-bottom: 20px;
}
.login-block {
    margin:0 auto;
    max-width: 350px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
}

.login-block > a{
    color: #fff;
}

.login-form {
    text-align: center;
}

.login-form > .form-title {
    width: 230px;
    margin:5px auto;
    font-size: 1.5em;
    line-height:1.5;
    
    text-align: center;
}

.login-form > input{
    font-size: 1em;
    margin:5px auto;
    width: 230px;
}

.login-form > button{
    font-size: 1em;
    line-height:1.5;
    margin:5px auto;
    width: 230px;
}

.login-form > #login-btn{
    width: 230px;
}
